DOMAIN=wherefood.203.0.113.10.nip.io
POSTGRES_DB=wherefood
POSTGRES_USER=wherefood
POSTGRES_PASSWORD=replace-me
AUTH_SERVICE_URL=http://auth-service:8080
AUTH_PUBLIC_KEY_PEM="-----BEGIN PUBLIC KEY-----\nreplace-with-central-auth-rsa-public-key\n-----END PUBLIC KEY-----"
AUTH_DEFAULT_ROLE=USER
TMDB_READ_ACCESS_TOKEN=replace-with-your-tmdb-api-read-access-token
